.click {
  cursor: pointer;
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}
body .container .btn-level {
  display: inline-block;
}

body {
  background: #1e555c;
  color: white;
  font-size: 30px;
  text-align: center;
}
body .container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.num {
  font-size: 50px;
}
#time-left {
  font-size: 60px;
}
/* button {
} */
